/**
 * Savasian theme for reveal.js.
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);

/**
 * Solarized colors by Ethan Schoonover, adapted to match Savas color scheme.
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

// TODO: Get these working.
// Solarized colors
$base03:    #002b36; // darkest blue
$base02:    #073642; // dark blue
$base01:    #586e75; // darkest gray
$base00:    #657b83; // dark gray
$base0:     #839496; // medium gray
$base1:     #93a1a1; // medium light gray
$base2:     #eee8d5; // cream
$base3:     #fdf6e3; // white
$yellow:    #f2a324;
$orange:    #f6433e;
$red:       #9e023b;
$magenta:   #d33682;
$violet:    #501888;
$blue:      #14133b;
$cyan:      #0a5365; // Inline syntax highlighting.
$green:     #055c2b;

// Theme colors
$dark-blue: #14133b;
$fuschia: #9e023b;
$yellow: #f2a324;
$orange: #f6433e;
$beige: #f4d1a6;
$gainsboro: #dcdcdc;
$white: #fff;

// Override theme settings (see ../template/settings.scss)
$mainColor: $beige;
$headingColor: lighten($fuschia, 10%);
$headingTextShadow: none;
$backgroundColor: $dark-blue;
$linkColor: $orange;
$linkColorHover: $yellow;
$selectionColor: $mainColor;
$selectionBackgroundColor: lighten($orange, 20%);

$headingFont: 'Ubuntu Condensed', Impact, sans-serif;
$mainFont: 'Source Sans Pro', sans-serif;

$heading1Size: 3em;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

/*********************************************
 * THEME OVERRIDES
 *********************************************/
body {
  background: $dark-blue url("../../images/logo.png") no-repeat fixed 2% 2%;
}

.reveal {

  // General text styles -------------------------------------------------------
  h1, h3 { color: $orange; }

  p { text-align: left; }

  li { margin-bottom: 15px; }

  .compact-list li { margin-bottom: 5px; }

  .centered { text-align: center; }

  .caption { margin-top: -15px; }

  .fuschia { color: $fuschia; }

  // Code snippets -------------------------------------------------------------

  // TODO: Code theme should match overall theme better.
  code {
    background-color: #3F3F3F;
    border: 1px solid darken($dark-blue, 10%);
    border-radius: 5px;
    color: #DCDCDC;
    display: inline-block;
    font-size: .8em;
    margin: -1px 0 0;
    padding: 0 5px;
  }

  blockquote {
    border-radius: 0 10px 10px 0;
    color: $dark-blue;
    padding: 15px;
    background: rgba(244, 209, 166, .8);
    text-align: left;
  }

  // Images --------------------------------------------------------------------

  // TODO: Handle images.
  .no-border {
    background-color: $backgroundColor;
    border: none;
  }

  // Introduction slide --------------------------------------------------------
  .savas {
    display: inline-block;
    margin-left: 20px;
    margin-top: 40px;
    vertical-align: top;
  }

  .durham {
    display: inline-block;
    margin-right: 20px;

    p {
      font-size: .8em;
      margin-top: -20px;
      text-align: center;
    }
  }
}
